:root {
    --black: #555555;
    --lightOrange:#E9B81D;
    --Orange: rgb(245 164 33);
    --lightPurple: rgb(245 148 242 / 26%);
    --lightBlack:#8B8B8B;
    --lightOr: rgb(230 147 13 / 52%);
    --TransparentPink: #ffe1e6;

}
